* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

html,
body {
  height: 100%;
}

.input_treinos {
  border-radius: 5px;
  border-width: thin;
  padding: 8px;
  margin-right: 10px;
  margin-top: 10px;
}

#treinos_container {
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 8vh;
  width: 75%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 40vh;
}

#treinos_container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

#treinos_form {
  margin: auto;
}

#btn-criar {
  background-color: #58b14d;
}

#btn-salvar {
  background-color: #4f90ff;
  margin-right: 20px;
}

#btn-criar img {
  height: 4rem;
}

#btn-salvar,
#btn-criar {
  padding: 20px;
  border-style: none;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

#btn-salvar:hover,
#btn-criar:hover {
  transform: scale(1.05);
}

#buttons_container {
  display: flex;
  /* z-index: -1; */
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}

.delete-icon {
  width: 18px;
  margin-left: 8px;
}

.delete-icon:hover {
  transform: scale(1.2);
}
