* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
body {
  background-color: #ecf1f4;
  /* background-image: url("../assets/imgs/bg-gym.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}
#home_header {
  display: flex;
  justify-content: space-between;
  background: #410f70;
  color: white;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
}
#home_header {
  font-family: arial;
  /* font-weight: bold; */
}

#home_menu {
  border-radius: 20px;
  border-style: solid;
  border-color: #dbc8ff;
  padding: 15px;
  justify-content: space-between;
  overflow: hidden;
  width: 400px;
  display: flex;
}

#home_title {
  color: white;
  text-decoration: none;
  /* margin-left: 30px; */
}

.menu_link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  /* margin-right: 20px; */
  justify-content: space-between;
}
#home_menu a:hover {
  /* background-color: #ddd; */
  color: #b691ff;
}

/* #home_menu a.active { */
/*   background-color: #04AA6D; */
/*   color: white; */
/* } */

#container {
  /* background-color: blue; */
  /* width: 500px; */
  /* background-image: url('../assets/imgs/bg-gym.jpg'); */
  height: 600px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  /* background-color: green; */
  margin-left: 50px;
  /* width: 400px; */
}
#title {
  margin-top: 80px;
  align-self: center;
}
#user_menu {
  align-self: center;
}
#logout {
  display: none;
  color: white;
}
#logout a:hover {
  background-color: #ddd;
}
#user_menu:hover #logout {
  display: flex;
}
#logout:hover #user_menu {
  background-color: #3e8e41;
}
/* .dropdown:hover .dropbtn { */
/*   background-color: #3e8e41; */
/* } */
/* .dropdown-content a:hover { */
/*   background-color: #ddd; */
/* } */

/* .dropdown:hover .dropdown-content { */
/*   display: block; */
/* } */

#dumber {
  margin-top: 20px;
  font-weight: lighter;
}

#container p {
  margin-top: 10px;
}

#container button {
  margin-top: 60px;
  padding: 12px;
  border-radius: 8px;
  border-width: thin;
  width: 170px;
  background-color: #220b4e;
  color: white;
  border-style: none;
  font-size: 16px;
}

#my_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #410f70;
  color: white;
  /* padding: 30px; */
}
#footer_content {
  padding: 20px;
}
#avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
