* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

#login_form {
  background-color: white;
  width: 20vw;
  /* height: 400px; */
  border-radius: 8px;
  border-style: solid;
  border-width: thin;
  padding: 30px;
  margin: auto;
  margin-top: 10vh;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#about_container {
  background-color: #f8f5f7;
  /* width: 600px; */
  width: 65vh;
  padding: 30px;
  border-radius: 8px;
  border-style: solid;
  border-width: thin;
  margin: auto;
  margin-top: 8vh;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form_fields {
  padding: 8px;
  border-radius: 8px;
  /* border-color: blue; */
  margin-top: 2.5vh;
  width: 100%;
  border-width: thin;
}

#div_form_button {
  margin-top: 3vh;
  text-align: center;
}

#form_button {
  border-radius: 8px;
  padding: 8px;
  width: 10vh;
  background-color: #7e15c4;
  color: white;
  font-weight: bold;
  border-width: thin;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./imgs/bg.jpg");
  opacity: 0.87;
}

#create_account_link {
  float: right;
}

.form_check {
  margin-top: 3vh;
}
